// Generic container
@use '../config' as *;

%container {
  box-sizing: content-box;
  max-width: var(--container-max-width, 80ch);
  max-inline-size: var(--container-max-width, 80ch);
  padding-right: var(--container-gap, var(--global-gap));
  padding-left: var(--container-gap, var(--global-gap));
  padding-inline: var(--container-gap, var(--global-gap));
  margin-right: auto;
  margin-left: auto;
  margin-inline: auto;
}

%is-fluid {
  max-width: none;
  max-inline-size: none;
}

%is-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin container {
  [#{$layout-prefix}*='container'] {
    @extend %container;
  }

  [#{$layout-prefix}*='\:is-fluid'] {
    @extend %is-fluid;
  }

  [#{$layout-prefix}*='\:is-flex'] {
    @extend %is-flex;
  }
}
