/* stylelint-disable declaration-no-important */

@use '../config' as *;
@use 'sidebar' as *;
@use 'switcher' as *;

// For use with horizontal and inline forms, when you need the label (or legend)
// text to align with the form controls.
[#{$layout-prefix}*='form\:horizontal'] > * {
  // Create consistency with label when collapsed
  --sidebar-gap: var(--form-label-margin-bottom);
  --sidebar-target-width: 15ch;
  --sidebar-content-min-width: 20ch;
  @extend %sidebar;
  align-items: center;

  > [data-form~='label'] {
    margin-bottom: 0; // Override the `<legend>` default
  }

  [#{$layout-prefix}*='switcher'] {
    --switcher-gap: var(--sidebar-gap);
  }
}

[#{$layout-prefix}~='form\:inline'] {
  display: inline-flex;
  flex-wrap: wrap;

  > *,
  label {
    width: auto;
    margin-bottom: 0;
  }

  > * + * {
    margin-left: calc(var(--input-padding-x) * 2);
  }
}
