@use '../config' as *;

%grid {
  display: grid;
  gap: var(--grid-gap, var(--global-gap));

  @supports (width: min(250px, 100%)) {
    @extend %grid-column;
  }
}

%grid-column {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--grid-column-width, 15ch), 100%), 1fr)
  );
}

[#{$layout-prefix}*='grid'] {
  @extend %grid;
}
