// STACK

// More info:
// https://every-layout.dev/layouts/stack/
// https://24ways.org/2018/managing-flow-and-rhythm-with-css-custom-properties/
// The Stack layout injects a margin between all elements within
// its container. Useful for managing the flow and rhythm of
// children blocks.
@use 'sass:map';
@use '../config' as *;

%stack {
  display: block;

  > * {
    display: block;
  }

  > * + * {
    margin-top: var(--stack-gap, var(--global-gap));
  }

  // &:not([data-direction]) > * {
  //   width: 100%;
  // }

  &[data-direction] {
    display: flex;
    flex-direction: column;
  }

  &[data-direction='ltr'] {
    align-items: start;
  }

  &[data-direction='rtl'] {
    align-items: end;
  }

  &[data-split]:only-child {
    height: 100%;
  }

  &[data-split='3'] > :nth-child(3) {
    margin-bottom: auto;
  }
}

@mixin stack {
  // Target any class that starts with `stack`
  [#{$layout-prefix}~='stack'] {
    @extend %stack;
  }

  [#{$layout-prefix}~='w-full'] > * {
    width: 100%;
  }

  // Generate class names from fluid space config
  // Example: <div data-layout="stack:md">
  @each $name, $factor in map.get($space, sizes) {
    [#{$layout-prefix}~='stack\:#{$name}'] > * + * {
      margin-top: var(--#{$space-prefix}-#{$name});
    }
  }
}
