@use 'sass:map';
@use '../config' as *;

%switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--switcher-gap, var(--global-gap));
  align-items: var(--switcher-vertical-alignment, flex-start);

  > * {
    flex-basis: calc((var(--switcher-min-width, 40ch) - 100%) * 999);
    flex-grow: 1;
  }
}

@mixin switcher {
  [#{$layout-prefix}*='switcher'] {
    @extend %switcher;
  }

  [#{$layout-prefix}~='has-center'] {
    --switcher-vertical-alignment: center;
  }

  [#{$layout-prefix}~='has-end'] {
    --switcher-vertical-alignment: flex-end;
  }

  // Generate class names from fluid space config
  // Example: <div data-layout="stack:md">
  @each $name, $factor in map.get($space, sizes) {
    [#{$layout-prefix}~='switcher\:#{$name}'] {
      gap: var(--#{$space-prefix}-#{$name});
    }
  }
}
