/* stylelint-disable declaration-no-important */
/* stylelint-disable scss/percent-placeholder-pattern */

// Based on Bootstrap v5.1.3 · MIT License
// https://github.com/twbs/bootstrap

@use 'sass:map';
@use '../../mixin' as *;
@use '../../config' as *;

// Resets
input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

// Remove inner border and padding from Firefox, but don't restore the outline like Normalize.

::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

// Remove the inheritance of text transform in Firefox
button,
select {
  text-transform: none;
}

// Form blocks
%form-block {
  display: block;
  width: 100%;
}

// Reset default appearance
%form-reset-appearance {
  appearance: none;
  vertical-align: middle;
}

// Form styles
%form-style {
  --padding-y: var(--input-padding-y);
  --padding-x: var(--input-padding-x);
  --font-size: var(--input-font-size);
  --line-height: var(--text-line-height);
  --color: var(--input-text-color);
  --bg-color: var(--input-bg-color);
  --border-width: var(--input-border-width);
  --border-color: var(--input-border-color);
  --border-radius: var(--input-border-radius);
  --min-height: var(--space-md);

  min-height: var(--min-height);
  padding: var(--padding-y) var(--padding-x);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color);
  background-color: var(--bg-color);
  // background-clip: padding-box;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  outline: 0;
  box-shadow: var(--box-shadow);

  // Transition
  transition: transform var(--transition), background-color var(--transition),
    border-color var(--transition), border-width var(--transition),
    color var(--transition), box-shadow var(--transition);
}

%form-placeholder {
  // Placeholder
  &::placeholder,
  :is(select:invalid) {
    color: var(--placeholder-text-color);

    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }
}

%form-style-shadow {
  --box-shadow: var(--inner-shadow-1);
}

%form-style-state {
  &:where(:active, :focus) {
    --bg-color: var(--input-active-bg-color);
    --color: var(--input-active-text-color);
    --border-color: var(--input-active-border-color);
  }

  &:hover:not(:active):not(:focus) {
    --border-color: var(--input-hover-border-color);
  }
}

%form-style-outline {
  &:where(:active, :focus) {
    --box-shadow: 0 0 0 var(--outline-size) var(--input-focus-outline-color);
  }
}

%form-state-transform {
  @if $enable-transforms {
    &:where(:active, :focus) {
      &:not(select) {
        transform: translateY(-2px);
      }
    }
  }
}

%form-state-animation {
  animation: var(--animation-pulse);
  animation-duration: 0.5s;
  animation-timing-function: var(--ease-3);
  animation-iteration-count: 1;
}

// Readonly
%form-readonly {
  &[readonly] {
    --box-shadow: none;

    &:where(:active, :focus) {
      --border-color: var(--input-readonly-focus-border-color);
      --box-shadow: 0 0 0 var(--outline-size)
        var(--input-readonly-focus-outline-color);
    }
  }
}

// Disabled
%form-disabled {
  &:disabled,
  &[aria-disabled='true'] {
    --bg-color: var(--input-disabled-bg-color);
    --border-color: var(--input-disabled-border-color);
    --color: var(--input-disabled-text-color);
    --box-shadow: none;

    opacity: var(--input-disabled-opacity);

    @if $enable-button-pointers {
      /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
      cursor: not-allowed;
    } @else {
      pointer-events: none;
    }

    &::placeholder {
      color: var(--color);
    }
  }
}

%form-icon {
  background-repeat: no-repeat;
  background-position: center right var(--padding-x);
  background-size: calc(var(--font-size) * 0.9) auto;
}

// Aria Validation
%form-validation {
  &[aria-invalid] {
    @extend %form-icon;
  }

  &[aria-invalid='false'] {
    @extend %form-success;

    background-image: var(--icon-valid);
  }

  &[aria-invalid='true'] {
    @extend %form-error;

    background-image: var(--icon-invalid);
  }
}

%form-success {
  @include generate-form-color(success);
}

%form-error {
  @include generate-form-color(error);
}

%form-warning {
  @include generate-form-color(warning);
}
