// Pico v1.5.0
// https://github.com/picocss/pico/blob/master/scss/content/_form-checkbox-radio.scss

@use 'base' as *;
@use 'control' as *;

%form-check {
  @extend %form-reset-appearance;
  @extend %form-style;
  @extend %form-style-outline;
  @extend %form-disabled;

  --padding-x: 0;
  --padding-y: 0;
  --min-height: auto;

  width: 1.2em;
  height: 1.2em;
  margin-inline-start: 0;
  margin-inline-end: calc(var(--input-padding-x) / 2);
  margin-top: -0.2em;
  margin-right: calc(var(--input-padding-x) / 2);
  margin-left: 0;
  cursor: pointer;

  &::-ms-check {
    display: none; // unstyle IE checkboxes
  }

  &:is(:active, :focus) {
    --border-color: var(--checkbox-active-border-color);
    --bg-color: var(--checkbox-bg-color);
  }

  &:checked,
  &:checked:active,
  &:checked:focus {
    --bg-color: var(--checkbox-active-bg-color);
    --border-color: var(--checkbox-active-border-color);
    background-image: var(--icon-checkbox);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.75em auto;

    &:not([role='switch']) {
      animation: var(--animation-pulse);
      animation-duration: 0.25s;
      animation-timing-function: var(--ease-3);
      animation-iteration-count: 1;
    }
  }

  ~ label {
    display: inline-block;
    margin-right: 0.375em;
    margin-bottom: 0;
    cursor: pointer;
  }
}

%form-radio {
  border-radius: 50%;

  &:checked {
    --bg-color: var(--white-12);
    background-image: none;
    border-width: 0.3em;
  }

  &:hover:not(:active):not(:focus):not(:disabled):not([role='switch']) {
    --border-color: var(--checkbox-active-border-color);
    --bg-color: var(--input-active-bg-color);
  }
}

// Checkboxes
%form-indeterminate {
  &:indeterminate {
    background-color: var(--input-active-bg-color);
    background-image: var(--icon-minus);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0.75em auto;
  }
}

// Switches
%form-switch {
  --bg-color: var(--switch-bg-color);
  --border-color: var(--switch-bg-color);
  --color: var(--switch-color);
  --border-width: 3px;

  // Config
  $switch-height: 1.25em;
  $switch-width: 2.25em;
  $switch-transition: 0.1s var(--ease-elastic-1);

  // Stylese
  width: $switch-width;
  height: $switch-height;
  line-height: $switch-height;
  background-color: var(--bg-color);
  border: var(--border-width) solid var(--border-color);
  border-radius: $switch-height;

  &:hover {
    --bg-color: var(--switch-checked-bg-color);
    --border-color: var(--switch-checked-bg-color);
  }

  &:focus {
    --bg-color: var(--switch-bg-color);
    --border-color: var(--switch-checked-bg-color);
  }

  &:checked,
  &:checked:focus {
    --bg-color: var(--switch-checked-bg-color);
    --border-color: var(--switch-checked-bg-color);

    background-image: none;

    &::before {
      margin-left: calc(#{$switch-width * 0.5} - var(--border-width));
      /* stylelint-disable-next-line order/properties-order */
      margin-inline-start: calc(#{$switch-width * 0.5} - var(--border-width));
    }
  }

  &::before {
    display: block;
    width: calc(#{$switch-height} - (var(--border-width) * 2));
    height: 100%;
    content: '';
    background-color: var(--color);
    border-radius: 50%;

    transition: margin $switch-transition;
  }
}

[data-form~='checkbox'] {
  @extend %form-check;
  @extend %form-indeterminate;
}

[data-form~='radio'] {
  @extend %form-check;
  @extend %form-radio;
}

[type='checkbox'][role~='switch'] {
  @extend %form-check;
  @extend %form-switch;
}
