// Bootstrap v5.1.3 · MIT License
// https://github.com/twbs/bootstrap

@use 'control';

%form-file {
  &[type='file'] {
    overflow: hidden; // prevent pseudo element button overlap

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }
  }
}

// File input buttons theming
%form-file-btn {
  // 1. Inherit font family and line height for file input buttons
  // 2. Correct the inability to style clickable types in iOS and Safari.

  &::file-selector-button {
    padding: var(--padding-y) var(--padding-x);
    margin: calc(var(--padding-y) * -1) calc(var(--padding-x) * -1);
    margin-inline-end: var(--padding-x);
    font: inherit; // 1
    color: var(--color);
    pointer-events: none;
    background-color: var(--file-btn-bg-color);
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: var(--border-width);
    border-radius: 0;
    appearance: button; // 2
  }

  &:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: var(--file-btn-hover-bg-color);
  }
}

[data-form~='input\:file'] {
  @extend %form-file;
  @extend %form-file-btn;
}

// Date time theming
%form-temporal {
  // Fix height of inputs with a type of datetime-local, date, month, week, or time
  // See https://github.com/twbs/bootstrap/issues/18842

  ::-webkit-datetime-edit-fields-wrapper,
  ::-webkit-datetime-edit-text,
  ::-webkit-datetime-edit-minute,
  ::-webkit-datetime-edit-hour-field,
  ::-webkit-datetime-edit-day-field,
  ::-webkit-datetime-edit-month-field,
  ::-webkit-datetime-edit-year-field {
    padding: 0;
  }

  // Add some height to date inputs on iOS
  // https://github.com/twbs/bootstrap/issues/23307
  // TODO: we can remove this workaround once https://bugs.webkit.org/show_bug.cgi?id=198959 is resolved
  &::-webkit-date-and-time-value {
    // Multiply line-height by 1em if it has no unit
    height: var(--text-line-height);
  }
}

// Form color picker
%form-control-color {
  width: var(--color-picker-width);
  height: auto; // Override fixed browser height
  padding: var(--padding-y);

  &:not(:disabled):not([readonly]) {
    cursor: pointer;
  }

  &::-moz-color-swatch,
  &::-webkit-color-swatch {
    height: var(--text-line-height);
    border-radius: var(--input-border-radius);
  }
}

[data-form~='input\:color'] {
  @extend %form-control-color;
}
