// Bootstrap v5.1.3 · MIT License
// https://github.com/twbs/bootstrap

//
// General form controls (plus a few specific high-level interventions)
//

@use '../../config' as *;
@use 'base';

// Form input theming
%form-control {
  @extend %form-block;
  @extend %form-reset-appearance;
  @extend %form-style;
  @extend %form-style-outline;
  @extend %form-style-shadow;
  @extend %form-placeholder;
  @extend %form-readonly;
  @extend %form-disabled;
  @extend %form-validation;

  &:not([readonly]) {
    @extend %form-style-state;
    @extend %form-state-transform;
  }
}

[data-form*='input'] {
  @extend %form-control;
}

// Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.
//
// Repeated in `_input_group.scss` to avoid Sass extend issues.

%form-control-sm {
  --padding-y: var(--input-padding-y-sm);
  --padding-x: var(--input-padding-x-sm);
  --font-size: var(--fsize--1);
  --min-height: var(--input-line-height-sm);
  --line-height: var(--input-line-height-sm);
}

%form-control-lg {
  --padding-y: var(--input-padding-y-lg);
  --padding-x: var(--input-padding-x-lg);
  --font-size: var(--#{$fsize-prefix}-1);
  --min-height: var(--input-line-height-lg);
  --line-height: var(--input-line-height-lg);
}

[data-form~='is-small'] {
  @extend %form-control-sm;
}

[data-form~='is-large'] {
  @extend %form-control-lg;
}

// Readonly controls as plain text
//
// Apply class to a readonly input to make it appear like regular plain
// text (without any border, background color, focus indicator)

%form-control-plaintext {
  @extend %form-block;
  padding: var(--padding-y) 0;
  margin-bottom: 0; // match inputs if this class comes on inputs with default margins
  color: var(--form-label-text-color);
  background-color: transparent;
  border: solid transparent;
  border-width: var(--input-border-width) 0;

  &:is(:active, :focus) {
    --box-shadow: none;
  }
}

[data-form~='plain-text'] {
  @extend %form-control-plaintext;
}

// Make sure textareas don't shrink too much when resized
// https://github.com/twbs/bootstrap/pull/29124
// stylelint-disable selector-no-qualifying-type
%textarea {
  --min-height: var(--input-height);
}

textarea[data-form*='input'] {
  @extend %textarea;
}
