// Bootstrap v5.1.3
// https://github.com/twbs/bootstrap/blob/main/scss/forms/_labels.scss

@use 'base';

//
// Labels
//

%form-label {
  @extend %form-block;

  > :where(input, select, textarea) {
    margin-top: var(--label-margin-bottom);
  }

  margin-bottom: var(--label-margin-bottom);
  font-weight: var(--label-text-weight);
  color: var(--label-text-color);
}

[data-form~='label'] {
  @extend %form-label;
}
