// Based on Bootstrap v5.1.3 · MIT License
// https://github.com/twbs/bootstrap

@use 'base';

%form-select {
  @extend %form-icon;
  background-image: var(--icon-chevron);
  // See https://github.com/twbs/bootstrap/issues/32636
  -moz-padding-start: calc(var(--padding-x) - 3px);

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  &[multiple],
  &[size]:not([size='1']) {
    padding-right: var(--padding-x);
    background-image: none;
  }

  // Remove outline from select box in FF
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 var(--input-active-text-color);
  }
}

[data-form*='input\:select'] {
  @extend %form-select;
}
