// Bootstrap v5.1.3
// https://github.com/twbs/bootstrap/blob/main/scss/forms/_form-text.scss

%form-text {
    margin-top: var(--form-text-margin-top);
  font-size: var(--form-text-font-size);
  font-style: var(--form-text-font-style);
  font-weight: var(--form-text-font-weight);
  line-height: var(--form-text-line-height);
  color: var(--form-text-color);
}

[data-form~='text'] {
    @extend %form-text;
}