// Strips browser styles from buttons & inputs
%is-controlled {
  outline: none;
  box-shadow: none;
}

// Makes element unselectable by user
%is-unselectable {
  user-select: none;
  -webkit-touch-callout: none;
}

// Enables momentum-based scrolling on touch devices when content overflows
%overflow-touch {
  -webkit-overflow-scrolling: touch;
}

// Makes an element resizable
@mixin is-resizable($direction) {
  overflow: auto;
  resize: #{$direction};
}
