/* stylelint-disable selector-no-qualifying-type */

@use 'control' as *;
@use 'appearance' as *;

@mixin text-input-classes {
  input[type='text'],
  input[type='password'],
  input[type='url'],
  input[type='email'],
  input[type='tel'],
  input[type='search'],
  input[type='number'],
  input[type='date'],
  input[type='time'],
  input[type='month'],
  input[type='week'],
  input[type='datetime-local'] {
    @content;
  }
}

@mixin not-writable-classes {
  &:disabled,
  &[aria-disabled],
  &:read-only,
  &[readonly] {
    @content;
  }
}

@mixin generate-form-color($state) {
  // Config
  $placeholder-text: 11;
  $active-text: 12;
  $active-bg: 1;
  $border: 7;
  $hover-border: 8;
  $active-border: 9;
  $focus-outline: 6;

  // Variables
  --border-color: var(--#{$state}-#{$border});
  --color: var(--#{$state}-#{$placeholder-text});

  &:is(:active, :focus) {
    --color: var(--#{$state}-#{$active-text});
    --bg-color: var(--#{$state}-#{$active-bg});
    --border-color: var(--#{$state}-#{$active-border});
    --box-shadow: 0 0 0 var(--outline-size) var(--#{$state}-#{$focus-outline});
  }

  &:hover:not(:active):not(:focus) {
    --border-color: var(--#{$state}-#{$hover-border});
  }
}
