<script>
	let scrollY = 0;
	let pos = { x: 0, y: 0 };

	function handleParallax(event) {
		if (window.innerWidth <= 800) return;
		pos.x = event.clientX;
		pos.y = event.clientY;
	}
</script>

<svelte:head>
	<link rel="preload" as="image" href="/SVG/logo-vertical.svg" />
	<link rel="preload" as="image" href="/SVG/FG_Base.svg" />
	<link rel="preload" as="image" href="/SVG/BG_Rocks.svg" />
</svelte:head>

<svelte:window on:mousemove={handleParallax} bind:scrollY />

<div id="hero">
	<div id="backdrop">
		<div id="BG">
			<img
				class="screen"
				src="/SVG/BG_Rocks.svg"
				alt=""
				style:transform="translate3d({pos.x / -80}px, {pos.y / -20}px, -100px) scale(var(--scale))"
			/>
			<img
				class="screen"
				src="/SVG/BG_gradient.svg"
				alt=""
				style:transform="translate3d({pos.x / -80}px, {pos.y / -20}px, -100px) scale(var(--scale))"
			/>
		</div>

		<div id="FG">
			<img
				class="screen"
				src="/SVG/FG_BG.svg"
				alt=""
				style:transform="translate3d({pos.x / 70}px, {pos.y / 20}px, -100px) scale(var(--scale))"
			/>
			<img
				id="FG_base"
				src="/SVG/FG_Base.svg"
				alt=""
				style:transform="translate3d({pos.x / 60}px, {pos.y / 15}px, -100px) scale(var(--scale))"
			/>
			<img
				class="screen"
				src="/SVG/FG_Screen.svg"
				alt=""
				style:transform="translate3d({pos.x / 60}px, {pos.y / 15}px, -100px) scale(var(--scale))"
			/>
			<img
				class="screen"
				src="SVG/FG_Stars.svg"
				alt=""
				style:transform="translate3d({pos.x / 15}px, {pos.y / 7.5}px, -100px) scale(var(--scale))"
			/>
			<img
				id="FG_rocks"
				src="/SVG/FG_rocks.svg"
				alt=""
				style:transform="translate3d({pos.x / 3}px, {pos.y / 3}px, -100px) scale(var(--scale))"
			/>
		</div>
	</div>

	<div class="crt" />
</div>

<div id="content">
	<img src="/SVG/logo-vertical.svg" alt="Mythic Table" id="logo">
	<div class="btns">
		<a class="btn" href="/" target="_blank" rel="noopener noreferrer">Create New Game</a>
		<a class="btn" href="/" target="_blank" rel="noopener noreferrer">Join Game</a>
	</div>
	<!-- <h1 class="lead">
		Free for all &middot; Free Forever <br />The
		<a href="https://gitlab.com/mythicteam/mythictable" target="_blank" rel="noopener noreferrer"
			><em>open-source</em></a
		> Virtual TableTop
	</h1> -->
</div>

<style>
	#hero {
		position: relative;
		height: 100vh;
		width: 100vw;
		background-color: var(--primary-1);
		overflow: hidden;
		mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
	}

	#backdrop {
		position: relative;
		height: 100vh;
		width: 100vw;
		background-color: var(--primary-1);
	}
	:where(#BG, #FG) img {
		--scale: 1.5;
		position: absolute;
		width: 100%;
		bottom: 0;
	}

	#FG {
		position: relative;
		height: 100%;
	}

	#FG_base {
		z-index: var(--layer-3);
	}

	#FG_rocks {
		bottom: 15%;
		z-index: var(--layer-4);
	}

	.screen {
		mix-blend-mode: screen;
	}

	#content {
		position: absolute;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		width: 100%;
		height: 100vh;
		z-index: 99;
	}

	#content .btns {
		z-index: var(--layer-5);
		line-height: 1.2;
		text-align: center;
		font-size: var(--fsize-3);
		padding: 0 var(--space-xl);
	}

	#content .btns {
		display: flex;
		flex-direction: column;
		margin: var(--space-xl);
	}

	#content .btns > * + * {
		margin-top: var(--space-sm);
	}

	#logo {
		position: initial;
		width: 100%;
		max-width: 28rem;
		/* margin-top: var(--space-xl); */
		z-index: var(--layer-2);
		/* filter: drop-shadow(0 0 1rem var(--secondary-9)); */
		padding: 0 var(--space-md);
	}

	.crt::after {
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(18, 16, 16, 0.1);
		opacity: 0;

		pointer-events: none;
	}
	.crt::before {
		content: ' ';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
			linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));

		background-size: 100% 2px, 3px 100%;
		pointer-events: none;
	}
	.crt {
		position: absolute;
		height: 100vh;
		width: 100%;
		inset: 0;
		z-index: var(--layer-1);
	}
</style>
