<script>
	export let title = 'Section Title';
	export let strokeSize = 8;

	let width = 450;
	let height = 40 + strokeSize * 2;
</script>

<h1 class="section-title">
	<svg viewBox="0 0 {width} {height}">
		<text
			text-anchor="middle"
			dominant-baseline="hanging"
			stroke-width="{strokeSize}px"
			x={width / 2}
			y={strokeSize * 2}
		>
			{title}
		</text>
	</svg>
	<svg class="divider" viewBox="0 0 800 16" fill="currentColor"
		><polygon points="400,0 800,8 400,16 0,8" /></svg
	>
</h1>

<style>
	h1 {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: 'Kandlestick', var(--font-serif);
		font-size: var(--fsize-3);
		color: var(--tertiary-12);
	}

	text {
		fill: currentColor;
		stroke: var(--tertiary-3);
		stroke-linejoin: round;
		paint-order: stroke;
	}

	.divider {
		max-width: 30%;
		margin-top: var(--space-sm);
		color: var(--secondary-9);
        filter: drop-shadow(0 0 0.25rem var(--secondary-8));
	}
</style>
