// Colors

@use 'sass:map';
@use 'color-light' as light;
@use 'color-dark' as dark;
@use 'color-overlay' as overlay;

// Color config
$palette: (
  default: (
    primary: light.$blue,
    neutral: light.$sand,
    success: light.$green,
    warning: light.$amber,
    error: light.$red,
    icons: (
      checkbox: map.get(light.$slate, 9),
      chevron: map.get(light.$slate, 9)
    )
  ),
  dark: (
    primary: dark.$indigo,
    secondary: dark.$pink,
    tertiary: dark.$gold,
    neutral: dark.$slate,
    success: dark.$green,
    warning: dark.$amber,
    error: dark.$red,
    'black': overlay.$black,
    'white': overlay.$white
  )
);

// Color utility settings
$color-utils: (
  color: (
    prefix: 'text-',
    custom: (
      'inherit': 'inherit'
    )
  ),
  background-color: (
    prefix: 'bg-'
  ),
  border-color: (
    prefix: 'border-'
  ),
  custom: (
    'current': 'currentColor',
    'transparent': 'transparent',
    'black': 'black',
    'white': 'white'
  )
);
