// Fluid system

// Min-Max breakpoints
$fluid-prefix: 'fluid';
$fluid-min: 320;
$fluid-max: 2100;
$fluid-lead: true;

// Scale Reference
// --------------------------
// Minor Second         1.067
// Major Second         1.125
// Minor Third          1.200
// Major Third          1.250
// Perfect Fourth       1.333
// Augmented Fourth     1.414
// Perfect Fifth        1.500
// Golden Ratio         1.618
// Major Sixth          1.667
// Minor Seventh        1.778
// Major Seventh        1.875
// Octave               2.000

// Font size settings
$fsize-prefix: 'fsize';

// Min font
$min-fsize: 18;
$min-scale: 1.2;
$min-steps: -4;

// Max font
$max-fsize: 22;
$max-scale: 1.25;
$max-steps: 8;

// Space settings
$space-prefix: 'space';
$space: (
  sizes: (
    'none': 0,
    '4xs': 0.25,
    '3xs': 0.3,
    '2xs': 0.375,
    'xs': 0.5,
    'sm': 0.75,
    'base': 1,
    'md': 1.5,
    'lg': 2.25,
    'xl': 3,
    '2xl': 4.5,
    '3xl': 6,
    '4xl': 9
  ),
  pairs: (
    '3xs-4xl': (
      start: 3xs,
      end: 4xl
    ),
    '4xl-3xs': (
      start: 4xl,
      end: 3xs
    )
  )
);

// Space utility settings

// Enable logical properties
$space-logical: true;

// Prefixes
$space-utils: (
  'margin': (
    all: 'm-',
    horizontal: 'mx-',
    vertical: 'my-',
    top: 'mt-',
    right: 'mr-',
    bottom: 'mb-',
    left: 'ml-'
  ),
  'padding': (
    all: 'p-',
    horizontal: 'px-',
    vertical: 'py-',
    top: 'pt-',
    right: 'pr-',
    bottom: 'pb-',
    left: 'pl-'
  )
);
