<script context="module">
	import '../styles/styles.scss';
	import '../styles/tokens.scss';
</script>

<svelte:head>
	<link rel="preload" as="font" href="/webfont/bluunext-bold.woff2" />
</svelte:head>

<slot />
