<script>
	import Hero from '../lib/Hero.svelte';
	import SectionTitle from '../lib/SectionTitle.svelte';
</script>

<Hero />

<section data-layout="container stack">
	<h1 class="headline">
		Free for all &middot; Free Forever <br />The
		<a href="https://gitlab.com/mythicteam/mythictable" target="_blank" rel="noopener noreferrer"
			><em>open-source</em></a
		> Virtual TableTop
	</h1>
	<SectionTitle title="introduction" />
	<p class="lead">
		Mythic Table is a non-profit, open-source online platform for tabletop role-playing games. We
		are focused on building a modern user experience with unique usability features, high
		performance, and flexibility.
	</p>

	<div class="col">
		<p>
			We are focused on building a modern user experience with unique usability features, high
			performance, and flexibility. We will be hosting this service free of charge. No features will
			be locked behind paywalls. With your support to this Kickstarter, together, we will ensure a
			bright future to Mythic Table and its community.
		</p>
		<p>
			Mythic Table aims to deliver a quality, easy-to-use VTT that is flexible enough to cater to
			all your gaming needs. In partnership with <a
				href="https://www.worldanvil.com/"
				target="_blank"
				rel="noopener noreferrer">World Anvil</a
			>, and the
			<a href="https://opengamingnetwork.com/" target="_blank" rel="noopener noreferrer"
				>Open Gaming Network</a
			>, Mythic Table is expanding its functionality to provide game masters and homebrew creators a
			platform to buy and sell game assets.
		</p>
	</div>
</section>

<section data-layout="container stack">
	<SectionTitle title="Features" />

	<div class="full-bleed features">
		<ul class="menu">
			<li>Action Menu</li>
			<li><div class="divider" /></li>
			<li class="active">Expressive UI</li>
			<li><div class="divider" /></li>
			<li>Modifiers</li>
			<li><div class="divider" /></li>
			<li>Actions</li>
		</ul>

		<div class="img-masked">
			<img loading="lazy" src="./damage.gif" alt="Damage Preview" />
		</div>
		<div class="dialog" data-layout="stack:sm">
			<h4 class="title">Intuitive Gameplay</h4>
			<p>
				Our vision is to express everything the player needs to know about the state of the game in
				the play area. The goal is to make sure players are focused on the action instead of a
				variety of windows, tabs, and popups.
			</p>
		</div>
	</div>
</section>

<footer />

<style>
	section {
		margin-top: var(--space-2xl);
	}

	p + p {
		margin-top: var(--space-md);
	}

	footer {
		height: var(--space-2xl);
	}
</style>
