@use 'sass:map';
@use '../config' as *;

@mixin generate-colors($prefix, $prop) {
  // Define palette
  $palette: map.get($palette, default);

  // Generate colors from palette config
  @each $name, $shades in $palette {
    @each $step, $hsl in $shades {
      // Generate class
      .#{$prefix}#{$name}-#{$step} {
        #{$prop}: var(--#{$name}-#{$step});
      }
    }
  }
}

@mixin generate-custom-colors($prefix, $prop, $name, $value) {
  .#{$prefix}#{$name} {
    #{$prop}: #{$value};
  }
}

%color {
  // Generate global custom classes
  @each $name, $value in map.get($color-utils, 'custom') {
    @each $prop, $map in $color-utils {
      @if $prop != 'custom' {
        $prefix: map.get($map, prefix);
        @include generate-custom-colors($prefix, $prop, $name, $value);
      }
    }
  }

  // Generate colors from palette config
  @each $prop, $map in $color-utils {
    // Define prefix
    $prefix: map.get($map, prefix);
    @if $prop != 'custom' {
      @include generate-colors($prefix, $prop);
    }

    // If prop has custom colors, print only for that prop
    @if map.has-key($map, 'custom') {
      @each $name, $value in map.get($map, 'custom') {
        @include generate-custom-colors($prefix, $prop, $name, $value);
      }
    }
  }
}
