@use 'sass:map';
@use '../config' as *;

@mixin generate-space-props(
  $direction,
  $prop,
  $value,
  $logical: $space-logical
) {
  // Avoided using margin-block: / margin-inline: properties
  // for better browser compatibility
  @if $direction == 'all' {
    @if $logical {
      #{$prop}-block-inline: #{$value};
      #{$prop}-inline: #{$value};
    } @else {
      #{$prop}: #{$value};
    }
  }
  @if $direction == 'horizontal' {
    @if $logical {
      #{$prop}-inline: #{$value};
    } @else {
      #{$prop}-right: #{$value};
      #{$prop}-left: #{$value};
    }
  }
  @if $direction == 'vertical' {
    @if $logical {
      #{$prop}-block: #{$value};
    } @else {
      #{$prop}-top: #{$value};
      #{$prop}-bottom: #{$value};
    }
  }
  @if $direction == 'top' {
    @if $logical {
      #{$prop}-block-start: #{$value};
    } @else {
      #{$prop}-top: #{$value};
    }
  }
  @if $direction == 'right' {
    @if $logical {
      #{$prop}-inline-end: #{$value};
    } @else {
      #{$prop}-right: #{$value};
    }
  }
  @if $direction == 'bottom' {
    @if $logical {
      #{$prop}-block-end: #{$value};
    } @else {
      #{$prop}-bottom: #{$value};
    }
  }
  @if $direction == 'left' {
    @if $logical {
      #{$prop}-inline-start: #{$value};
    } @else {
      #{$prop}-left: #{$value};
    }
  }
}

@mixin generate-space($direction, $prefix, $prop, $size) {
  // Set property value
  $value: var(--#{$space-prefix}-#{$size});

  // Set class name
  .#{$prefix}#{$size} {
    @include generate-space-props($direction, $prop, $value);
  }
}

@mixin space($space: $space) {
  // Generate all classes from space config
  @each $set, $map in $space {
    @each $size, $value in $map {
      @each $prop, $map in $space-utils {
        @each $direction, $prefix in $map {
          @include generate-space($direction, $prefix, $prop, $size);
        }
      }
    }
  }
}
