@use 'layout';
@use 'content';
@use 'content/form';
@use 'content/typography' as type;
@use 'utilities';

// Load modules
@include layout.container();
@include layout.sidebar();
@include layout.stack();
@include layout.switcher();

// Load element styles

// Load typography styles

// Load form styles

// Load utility classes
@include utilities.hidden();
@include utilities.text-align();

html {
	overflow-x: hidden;
	cursor: url('/cursors/RPG Style Arrow.cur'), auto;
}

body {
	position: relative;

	--scrollbar-foreground: var(--tertiary-11);
	--scrollbar-background: var(--tertiary-1);

	/* Foreground, Background */
	scrollbar-color: var(--scrollbar-foreground) var(--scrollbar-background);

	&::-webkit-scrollbar {
		width: 10px; /* Mostly for vertical scrollbars */
		height: 10px; /* Mostly for horizontal scrollbars */
	}
	&::-webkit-scrollbar-thumb {
		/* Foreground */
		background: var(--scrollbar-foreground);
	}
	&::-webkit-scrollbar-track {
		/* Background */
		background: var(--scrollbar-background);
	}
}

body {
	background-image: url('/overlay.png');
}

.section-title + * {
	margin-top: var(--space-xl) !important;
}

.headline {
	font-family: 'bluu titling', var(--font-serif);
	text-align: center;

	& + * {
		margin-top: var(--space-2xl);
	}
}

.lead {
	font-family: 'bluu', var(--font-serif);
	font-size: var(--fsize-2);
	color: var(--primary-12);
	line-height: 1.2;
	text-shadow: 0 0 var(--space-2xs) var(--secondary-4);
}

.btn {
	--color-1: var(--tertiary-8);
	--color-2: var(--tertiary-4);
	--border-1: var(--tertiary-11);
	--border-2: var(--tertiary-2);
	--border-width: 2px;

	position: relative;

	font-family: 'bluu', var(--font-serif);
	// text-transform: uppercase;
	font-size: var(--fsize-1);
	position: relative;
	text-decoration: none;
	color: var(--tertiary-12);
	text-align: center;
	text-shadow: 0 0 4px var(--black-9);
	padding: var(--space-2xs) var(--space-xl);
	background-image: url('/overlay.png');

	&:hover {
		text-decoration: none;
		color: white;

		&::after {
			opacity: 1;
		}
	}

	&::after,
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: linear-gradient(to bottom, var(--border-1) 0, var(--border-2) 100%) no-repeat,
			linear-gradient(to bottom, var(--border-2) 0, var(--border-1) 100%) no-repeat,
			linear-gradient(
				90deg,
				rgba(0, 0, 0, 0) 0%,
				var(--color-2) 10%,
				var(--color-1) 40%,
				var(--color-1) 60%,
				var(--color-2) 90%,
				rgba(0, 0, 0, 0) 100%
			);
		background-size: 100% var(--border-width), 100% var(--border-width);
		background-position: top, bottom;
		// mask-image: linear-gradient(
		// 	90deg,
		// 	transparent 0%,
		// 	rgba(0, 0, 0, 0.5) 5%,
		// 	black 15%,
		// 	black 85%,
		// 	rgba(0, 0, 0, 0.5) 95%,
		// 	transparent 100%
		// );

		z-index: -1;
	}

	&::after {
		--color-1: var(--tertiary-9);
		transition: opacity 0.25s var(--ease-2);
		opacity: 0;
	}
}

.col {
	columns: 2;
	gap: var(--space-md);
}

.img-divider {
	mask-image: url('/SVG/stroke-2.svg');
	mask-repeat: no-repeat;
	mask-size: 100%;
}

a {
	cursor: url('/cursors/RPG Style Link.cur'), pointer;
}

a:not(.btn) {
	text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	transition: color 0.25s var(--ease-2), text-shadow 0.25s var(--ease-2);

	&:hover {
		text-shadow: 0 0 0.25em var(--secondary-7);
	}
}

.features {
	position: relative;
}

ul.menu {
	--color-1: var(--tertiary-8);
	--color-2: var(--tertiary-4);
	--border-1: var(--tertiary-11);
	--border-2: var(--tertiary-2);
	--border-width: 2px;

	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;

	position: relative;

	font-family: 'bluu';
	// text-transform: uppercase;
	position: relative;
	text-decoration: none;
	color: var(--tertiary-12);
	text-align: center;
	text-shadow: 0 0 4px var(--black-12);
	padding: var(--space-2xs) var(--space-xl);
	// box-shadow: 0 0 1em var(--black-9);
	filter: drop-shadow(0 0 1em var(--black-9));

	&::after,
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: url('/overlay.png'), url('/SVG/border-1.svg') repeat-x,
			url('/SVG/border-1.svg') repeat-x,
			linear-gradient(to bottom, var(--border-1) 0, var(--border-2) 100%) no-repeat,
			linear-gradient(to bottom, var(--border-2) 0, var(--border-1) 100%) no-repeat,
			linear-gradient(
				90deg,
				rgba(0, 0, 0, 0) 0%,
				var(--color-2) 5%,
				var(--color-1) 20%,
				var(--color-1) 80%,
				var(--color-2) 95%,
				rgba(0, 0, 0, 0) 100%
			);
		background-size: auto, auto 12px, auto 12px, 100% var(--border-width), 100% var(--border-width),
			auto;
		background-position: center, top, bottom, top, bottom, center;
		z-index: -1;

		mask-image: linear-gradient(
			90deg,
			transparent 0%,
			rgba(0, 0, 0, 0.5) 10%,
			black 40%,
			black 60%,
			rgba(0, 0, 0, 0.5) 90%,
			transparent 100%
		);
	}

	.divider::before {
		content: '·';
		text-shadow: none;
		// color: var(--tertiary-11);
	}

	li {
		position: relative;
	}

	li.active {
		color: var(--white-12);
		text-shadow: 0 0 2px var(--black-12);
		z-index: 1;

		&::before,
		&::after {
			position: absolute;
			content: '';
			top: -20%;
			left: -20%;
			width: 140%;
			height: 140%;
		}

		&::before {
			background-color: var(--tertiary-8);
			background-image: url('/overlay.png');
			box-shadow: inset 0 0 4px 4px var(--tertiary-7), 0 0 6px var(--black-9);
			z-index: -1;
		}

		&::after {
			border-style: solid;
			border-width: 6px 6px 6px 6px;
			border-image: url('/SVG/frame.svg') 13 13 13 13 repeat repeat;

			z-index: -1;
		}
	}
}

.img-masked {
	img {
		border-radius: 0;
		height: 24rem;
		width: 100%;
		object-fit: cover;
		mask-image: url('/SVG/stroke-4.svg');
		mask-repeat: no-repeat;
		mask-size: 100% 100%;
	}
}

.dialog {
	position: relative;
	padding: var(--space-lg);
	text-shadow: 1px 2px var(--black-11);
	box-shadow: 0 0 1rem var(--black-12);
	width: 80%;
	margin: 0 auto;
	z-index: 1;

	&::before,
	&::after {
		position: absolute;
		content: '';
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	}

	&::before {
		top: 0;
		border: 1px solid var(--tertiary-9);
		border-radius: 3px;
		background-color: var(--tertiary-2);
		background-image: url('/paper.png');
		box-shadow: inset 0 0 0 1px var(--tertiary-1), inset 0 0 16px var(--tertiary-3),
			0 0 6px var(--black-9);
	}

	&::after {
		top: -5%;
		background: url('/SVG/orn.svg') no-repeat;
		background-position: top center;
		filter: drop-shadow(0 -1px 0 var(--tertiary-11)) drop-shadow(0 1px var(--tertiary-1))
			drop-shadow(0 0 2px var(--black-12)) drop-shadow(0 0 12px var(--black-12));
	}

	.title {
		text-align: center;
		font-family: 'bluu';
		// text-transform: uppercase;
		font-size: var(--fsize-1);
		// letter-spacing: 0.25em;
	}
}
