/* stylelint-disable value-keyword-case */
/* stylelint-disable custom-property-pattern */

@use 'config/color-overlay' as overlay;
@use 'system' as *;

:where(:root) {
  // ------------------------------------
  // SYSTEM VARIABLES
  // ------------------------------------

  @extend %fluid; // Load Fluid System
  @extend %fsize; // Load fluid font sizes
  @extend %space; // Load fluid spacing

  // ------------------------------------
  // GLOBAL VARIABLES
  // ------------------------------------

  // Global typography
  --text-family: 'HappyTimesNG';
  --text-size: var(--fsize-0);
  --text-weight: 400;
  --text-line-height: var(--space-md);
  --text-align: left;

  // Global colors
  --bg-color: var(--neutral-1);
  --text-color: var(--neutral-12);
  --text-muted: var(--neutral-9);
  --text-active: var(--primary-12);
  --text-hover: var(--neutral-12);

  // Color states
  --active-bg: var(--primary-11);
  --active-border-color: var(--primary-9);

  // Borders
  --radius: var(--radius-2);
  --outline-size: var(--border-size-2);
  --border-size: var(--border-size-1);
  --border-shade: var(--neutral-7);

  // Animation
  --transition: 0.1s var(--ease-4);

  // ------------------------------------
  // LAYOUT
  // ------------------------------------
  --gap: var(--space-md);

  // Container
  --container-max-width: 80ch;
  --container-gap: var(--gap);

  // Stack
  --stack-gap: var(--gap);

  // Switcher
  --switcher-gap: var(--gap);

  // Sidebar
  --sidebar-gap: var(--gap);
  --sidebar-target-width: 32ch;
  --sidebar-content-min-width: 70%;

  // ------------------------------------
  // TYPOGRAPHY
  // ------------------------------------

  // horizontal rule
  --hr-margin-y: calc(var(--body-line-height) * 2);
  --hr-color: var(--border-color);
  --hr-border-top: 1px solid var(--hr-color);
  --hr-opacity: 1;

  // headings
  --headings-font-family: 'bluu', var(--font-serif);
  --headings-font-style: normal;
  --headings-font-weight: normal;
  --headings-line-height: var(--space-md);
  --headings-color: var(--primary-12);

  // heading font sizes
  --h1-font-size: var(--fsize-5);
  --h2-font-size: var(--fsize-3);
  --h3-font-size: var(--fsize-2);
  --h4-font-size: var(--fsize-1);
  --h5-font-size: var(--fsize--0);
  --h6-font-size: var(--fsize--1);

  // head line-height
  --h1-line-height: var(--space-xl);
  --h2-line-height: var(--space-lg);
  --h3-line-height: var(--space-md);
  --h4-line-height: var(--space-md);
  --h5-line-height: var(--space-md);
  --h6-line-height: var(--space-md);

  // Lists
  --list-padding-left: var(--space-md);
  --dt-font-weight: 600;
  --dt-margin-top: var(--space-md);

  // Small
  --small-font-size: 0.875em;

  // Mark / Selection
  --highlight-text: var(--secondary-12);
  --highlight-bg: var(--secondary-9);
  --highlight-padding: var(--space-2xs) var(--space-xs);

  // Sub/Sup
  --sub-sup-font-size: 0.75em;

  // Links
  --link-color: var(--tertiary-11);
  --link-decoration: underline;
  --link-hover-color: var(--secondary-11);
  --link-hover-decoration: var(--link-decoration);

  // Code / Kbd
  --code-font-family: var(--font-monospace);
  --code-font-size: var(--fsize-0);
  --code-color: var(--primary-11);
  --kbd-padding-y: 0.1875em;
  --kbd-padding-x: 0.375em;
  --kbd-font-size: var(--code-font-size);
  --kbd-color: var(--body-bg);
  --kbd-bg: var(--body-color);
  --kbd-border-radius: var(--border-radius-sm);

  // Images & Figures
  --img-border-radius: var(--border-radius);
  --figure-gap: var(--space-sm);
  --figcaption-font-size: var(--body-font-size);
  --figcaption-color: var(--neutral-10);

  // ------------------------------------
  // TABLE
  // ------------------------------------

  --table-border-width: var(--border-size-1);
  --table-cell-padding-y: var(--space-xs);
  --table-cell-padding-x: var(--space-xs);
  --table-caption-color: var(--text-muted);
  --table-th-font-weight: bolder;

  // ------------------------------------
  // FORMS
  // ------------------------------------

  // Labels
  --label-text-color: var(--neutral-12);
  --label-text-weight: var(--text-weight);
  --label-margin-bottom: var(--space-xs);
  --legend-font-size: var(--fsize-0);
  --legend-font-weight: initial;
  --legend-margin-bottom: var(--label-margin-bottom);
  --placeholder-text-color: var(--text-muted);

  // Sizes for form elements
  --input-padding-y: var(--space-xs);
  --input-padding-x: var(--space-sm);
  --input-font-size: var(--text-size);

  // Alternate sizes
  --input-padding-y-sm: var(--space-3xs);
  --input-padding-x-sm: var(--space-xs);
  --input-line-height-sm: var(--space-md);
  --input-padding-y-lg: var(--space-xs);
  --input-padding-x-lg: var(--space-base);
  --input-line-height-lg: var(--space-lg);

  // Form base styles
  --input-text-color: var(--text-color);
  --input-bg-color: var(--bg-color);
  --input-border-width: var(--border-size);
  --input-border-radius: var(--radius);
  --input-border-color: var(--border-shade);
  --input-hover-border-color: var(--neutral-8);

  // Form Active / Focus
  --input-active-text-color: var(--text-active);
  --input-active-bg-color: var(--primary-1);
  --input-active-border-color: var(--primary-9);
  --input-focus-outline-color: var(--primary-6);

  // Form Disabled
  --input-disabled-text-color: var(--neutral-12);
  --input-disabled-bg-color: var(--neutral-3);
  --input-disabled-border-color: var(--input-border-color);
  --input-disabled-opacity: 0.5;
  --input-readonly-focus-border-color: var(--neutral-9);
  --input-readonly-focus-outline-color: var(--neutral-6);

  // Checkbox
  --checkbox-active-border-color: var(--primary-11);
  --checkbox-active-bg-color: var(--input-active-border-color);

  // Switch
  --switch-color: var(--white-12);
  --switch-bg-color: var(--input-focus-outline-color);
  --switch-checked-bg-color: var(--primary-9);

  // Misc Form Inputs
  --file-btn-bg-color: var(--neutral-3);
  --file-btn-hover-bg-color: var(--neutral-4);
  --color-picker-width: var(--space-2xl);

  // ------------------------------------
  // OVERLAY COLORS
  // ------------------------------------

  @include generate-color-vars('white', overlay.$white);
  @include generate-color-vars('black', overlay.$black);

  // ------------------------------------
  // ICONS
  // ------------------------------------
  --icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(65, 84, 98, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-chevron-button: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(255, 255, 255, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-chevron-button-inverse: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(255, 255, 255, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-close: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(115, 130, 140, 0.999)' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  --icon-date: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(65, 84, 98, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3C/svg%3E");
  --icon-invalid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(198, 40, 40, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
  --icon-minus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23FFF' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
  --icon-search: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(65, 84, 98, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='11' cy='11' r='8'%3E%3C/circle%3E%3Cline x1='21' y1='21' x2='16.65' y2='16.65'%3E%3C/line%3E%3C/svg%3E");
  --icon-time: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(65, 84, 98, 0.999)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cpolyline points='12 6 12 12 16 14'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-valid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgba(56, 142, 60, 0.999)' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
}

// ------------------------------------
// Presets
// ------------------------------------

@include preset();

// ------------------------------------
// GLOBAL COLORS
// ------------------------------------

// @media (--OSlight) {
//   :root {
//     @include generate-colors(default);
//   }
// }

// @media (--OSdark) {
//   :root {
//     @include generate-colors(dark);
//   }
// }

:root {
  @include generate-colors(dark);
}
