@use 'sass:map';
@use '../config' as *;
@use 'fluid' as *;

$sizes: map.get($space, sizes);
$pairs: map.get($space, pairs);

%space {
  // Bind spacing to font size
  --min-#{$space-prefix}: var(--min-fsize-0, #{$min-fsize});
  --max-#{$space-prefix}: var(--max-fsize-0, #{$max-fsize});

  @each $name, $factor in $sizes {
    // Named props
    $min: min-#{$space-prefix}-#{$name};
    $max: max-#{$space-prefix}-#{$name};

    // Min Max values
    --#{$min}: (var(--min-#{$space-prefix}) * #{$factor});
    --#{$max}: (var(--max-#{$space-prefix}) * #{$factor});

    @include slope($space-prefix, $name, $min, $max);
  }

  // Generate custom pairings
  @each $name, $pairing in $pairs {
    $start: min-#{$space-prefix}-#{map.get($pairing, start)};
    $end: max-#{$space-prefix}-#{map.get($pairing, end)};

    @include slope($space-prefix, $name, $min: $start, $max: $end);
  }
}
