@font-face {
	font-family: 'HappyTimesNG';
	src: url('happy-times-NG.woff2') format('woff2'), url('happy-times-NG.woff') format('woff'),
		url('happy-times-NG.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'HappyTimesNG';
	src: url('happy-times-NG-italic.woff2') format('woff2'),
		url('happy-times-NG-italic.woff') format('woff'),
		url('happy-times-NG-italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'HappyTimesNG';
	src: url('happy-times-NG-bold.woff2') format('woff2'),
		url('happy-times-NG-bold.woff') format('woff'),
		url('happy-times-NG-bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'bluu';
	src: url('bluunext-bold.woff2') format('woff2'), url('bluunext-bold.woff') format('woff'),
		url('bluunext-bold.ttf') format('truetype'),
		url('bluunext-bold.svg#bluu_nextbold') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'bluu';
	src: url('bluunext-bolditalic.woff2') format('woff2'),
		url('bluunext-bolditalic.woff') format('woff'),
		url('bluunext-bolditalic.ttf') format('truetype'),
		url('bluunext-bolditalic.svg#bluu_nextbold_italic') format('svg');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'bluu titling';
	src: url('bluunext-titling.woff2') format('woff2'), url('bluunext-titling.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Kandlestick';
	src: url('Kandlestick.woff2') format('woff2'), url('Kandlestick.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
