%debug {
* {
    outline: 1px solid var(--warning-9);
}
  position: relative;
  z-index: 1;

  &::before {
    position: absolute;
    z-index: -1;
    content: '';
    background: linear-gradient(
        to bottom,
        var(--success-7) 1px,
        transparent 1px
      )
      1px 0;
    background-size: 100% var(--space-sm);
    inline-size: 100%;
    block-size: 100%
  }
}

[data-layout~='debug'] {
    @extend %debug;
}