%heading {
  font-family: var(--headings-font-family);
  font-size: var(--headings-font-size);
  font-style: var(--headings-font-style);
  font-weight: var(--headings-font-weight);
  line-height: var(--headings-line-height);
  color: var(--headings-color);
}

h1 {
  --headings-font-size: var(--h1-font-size);
  --headings-line-height: var(--h1-line-height);
  @extend %heading;
}

h2 {
  --headings-font-size: var(--h2-font-size);
  --headings-line-height: var(--h2-line-height);
  @extend %heading;
}

h3 {
  --headings-font-size: var(--h3-font-size);
  --headings-line-height: var(--h3-line-height);
  @extend %heading;
}

h4 {
  --headings-font-size: var(--h4-font-size);
  --headings-line-height: var(--h4-line-height);
  @extend %heading;
}

h5 {
  --headings-font-size: var(--h5-font-size);
  --headings-line-height: var(--h5-line-height);
  @extend %heading;
}

h6 {
  --headings-font-size: var(--h6-font-size);
  --headings-line-height: var(--h6-line-height);
  @extend %heading;
}
