// 1. Reset Firefox's gray color

%hr {
  margin-top: var(--hr-margin-y);
  color: var(--hr-color); // 1
  border: 0;
  border-top: var(--hr-border-top);
  opacity: var(--hr-opacity);

  + * {
    margin-top: var(--hr-margin-y);
  }
}

hr {
    @extend %hr;
}