// Based on Bootstrap v5.1.3 · MIT License
// https://github.com/twbs/bootstrap

// Abbreviations
//
// 1. Add the correct text decoration in Chrome, Edge, Opera, and Safari.
// 2. Add explicit cursor to indicate changed behavior.
// 3. Prevent the text-decoration to be skipped.

/* stylelint-disable-next-line selector-no-qualifying-type */
abbr[title] {
  // 1
  text-decoration: underline dotted; // 1
  cursor: help; // 2
  text-decoration-skip-ink: none; // 3
}

// Address

address {
  font-style: normal;
  line-height: inherit;
}

// Lists

ol,
ul {
  padding-left: var(--list-padding-left);
}

dd + dt {
  margin-top: var(--dt-margin-top);
}

dt {
  font-weight: var(--dt-font-weight, 600);
}

// Strong
//
// Add the correct font weight in Chrome, Edge, and Safari

b,
strong {
  font-weight: bolder;
}

// Small
//
// Add the correct font size in all browsers

small {
  font-size: var(--small-font-size, 0.875em);
}

// Mark

mark {
  padding: var(--highlight-padding);
  background-color: var(--highlight-bg);
}

// Sub and Sup
//
// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.

sub,
sup {
  position: relative;
  font-size: var(--sub-sup-font-size, 0.75em);

  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}
