@use '../../layout' as *;

%heading {
  :where(h1, h2, h3) {
    letter-spacing: -0.01em;
  }

  :where(h2, h3) {
    margin-top: calc(var(--stack-gap) * 2);
  }

  :where(h4, h5, h6) + p {
    margin-top: calc(var(--stack-gap) / 2);
  }
}

[data-layout~='prose'] {
  @extend %stack;
  @extend %heading;

  &[data-layout*='container'] {
    --container-max-width: 66ch;
  }
}
