// Typography



// Links

a {
  color: var(--link-color);
  text-decoration: var(--link-decoration, underline);

  &:hover {
    color: var(--link-hover-color);
    text-decoration: var(--link-hover-decoration);
  }
}

// And undo these styles for placeholder links/named anchors (without href).
// It would be more straightforward to just use a[href] in previous block, but that
// causes specificity issues in many other styles that are too complex to fix.
// See https://github.com/twbs/bootstrap/issues/19402

a:not([href]):not([class]) {
  &,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

// Code

pre,
code,
kbd,
samp {
  font-family: var(--code-font-family);
  font-size: 1em; // Correct the odd `em` font sizing in all browsers.
}

// 1. Don't allow content to break outside

pre {
  display: block;
  overflow: auto; // 1
  font-size: var(--code-font-size, var(--body-font-size));

  // Account for some code outputs that place code tags in pre tags
  code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
  }
}

code {
  font-size: var(--code-font-size);
  color: var(--code-color);
  word-wrap: break-word;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    color: inherit;
  }
}

kbd {
  padding: var(--kbd-padding-y, 0.1875em) var(--kbd-padding-x, 0.375em);
  font-size: var(--kbd-font-size);

  color: var(--kbd-color, var(--body-bg));
  background-color: var(--kbd-bg, var(--body-color));
  border-radius: var(--kbd-border-radius);

  kbd {
    padding: 0;
    font-size: 1em;
  }
}
