/* stylelint-disable declaration-no-important */
/* stylelint-disable selector-no-qualifying-type */

// ------------------------------------
// Reset based on:
// bootstrap v5.1.3 | MIT License | github.com/twbs/bootstrap
// ------------------------------------

// Document
//
// Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
@use '../config' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

// Nuke default margins so layouts are easier to controll for all elements
* {
  margin: 0;
}

// Root
//
// Ability to the value of the root font sizes, affecting the value of `rem`.
// null by default, thus nothing is generated.

:root {
  @if $enable-smooth-scroll {
    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }
}

// Body
//
// 1. As a best practice, apply a default `background-color`.
// 2. Prevent adjustments of font size after orientation changes in iOS.
// 3. Change the default tap highlight to be completely transparent in iOS.

body {
  font-family: var(--text-family);
  font-size: var(--text-size);

  font-weight: var(--text-weight);
  line-height: var(--text-line-height);
  color: var(--text-color);
  text-align: var(--text-align);
  background-color: var(--bg-color); // 1
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features */
  text-size-adjust: 100%; // 2
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // 3
}

// Hidden attribute
//
// Always hide an element with the `hidden` HTML attribute.

[hidden] {
  display: none !important;
}

// Correct element displays

output {
  display: inline-block;
}

// Remove border from iframe

iframe {
  border: 0;
}

// Summary
//
// 1. Add the correct display in all browsers

summary {
  display: list-item; // 1
  cursor: pointer;
}

// Progress
//
// Add the correct vertical alignment in Chrome, Firefox, and Opera.

progress {
  vertical-align: baseline;
}
