// Bootstrap v5.1.3 | MIT License
// https://github.com/twbs/bootstrap/blob/main/scss/_images.scss

@use '../layout' as *;

// Image reset

img,
svg {
  vertical-align: middle;
}

// Image styles

:where(img) {
  max-width: 100%;
  height: auto;
  border-radius: var(--radius-2);
}

figure {
  @extend %stack;

  --stack-gap: var(--figure-gap);

  // Ensures the caption's text aligns with the image.
  display: inline-block;

  > img {
    line-height: 1;
  }

  figcaption {
    font-size: var(--figcaption-font-size);
    color: var(--figcaption-color);
  }
}
