// Bootstrap v5.1.3
// https://github.com/twbs/bootstrap/blob/main/scss/_tables.scss

// Tables
//
// Prevent double borders

table {
  caption-side: bottom;
  border-collapse: collapse;
}

caption {
  padding-top: var(--table-cell-padding-y);
  padding-bottom: var(--table-cell-padding-y);
  color: var(--table-caption-color);
  text-align: left;
}

// 1. Removes font-weight bold by inheriting
// 2. Matches default `<td>` alignment by inheriting `text-align`.
// 3. Fix alignment for Safari

th {
  font-weight: var(--table-th-font-weight); // 1
  text-align: inherit; // 2
  text-align: -webkit-match-parent; // 3
}

thead,
tbody,
tfoot,
tr,
td,
th {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}


%table {
  --table-color: var(--text-color);
  --table-bg: transparent;
  --table-border-color: var(--border-color);
  --table-accent-bg: transparent;
  --table-striped-color: var(--table-color);
  --table-striped-bg: var(--neutral-2);
  --table-active-color: var(--table-color);
  --table-active-bg: var(--table-hover-bg);
  --table-hover-color: var(--text-hover);
  --table-hover-bg: var(--neutral-3);
  --table-cell-vertical-align: top;

  width: 100%;
  color: var(--table-color);
  vertical-align: var(--table-cell-vertical-align);
  border: var(--table-border-color);

  // Target th & td
  // We need the child combinator to prevent styles leaking to nested tables which doesn't have a `.table` class.
  // We use the universal selectors here to simplify the selector (else we would need 6 different selectors).
  // Another advantage is that this generates less code and makes the selector less specific making it easier to override.
 
  > :not(caption) > * > * {
    padding: var(--table-cell-padding-y) var(--table-cell-padding-x);
    background-color: var(--table-bg);
    border-bottom-width: var(--table-border-width);
    box-shadow: inset 0 0 0 9999px var(--table-accent-bg);
  }

  > tbody {
    vertical-align: inherit;
  }

  > thead {
    vertical-align: bottom;
  }
}

[data-table] {
  @extend %table;
}

%table-group-divider {
  --table-group-seperator-color: currentcolor;

  border-top: calc(2 * var(--table-border-width)) solid
    var(--table-group-seperator-color);
}

[data-cell~='has-group-divider'] {
  @extend %table-group-divider;
}

//
// Change placement of captions with a class
//

%caption-top {
  caption-side: top;
}

[data-table~='has-caption-top'] {
  @extend %caption-top;
}

//
// Condensed table w/ half padding
//

%table-condensed {
  --table-cell-padding-y-condensed: calc(var(--table-cell-padding-y) / 2);
  --table-cell-padding-x-condensed: calc(var(--table-cell-padding-x) / 2);

  > :not(caption) > * > * {
    padding: var(--table-cell-padding-y-condensed)
      var(--table-cell-padding-x-condensed);
  }
}

[data-table~='is-condensed'] {
  @extend %table-condensed;
}

// Border versions
//
// Add or remove borders all around the table and between all the columns.
//
// When borders are added on all sides of the cells, the corners can render odd when
// these borders do not have the same color or if they are semi-transparent.
// Therefor we add top and border bottoms to the `tr`s and left and right borders
// to the `td`s or `th`s

%table-bordered {
  > :not(caption) > * {
    border-width: var(--table-border-width) 0;

    > * {
      border-width: 0 var(--table-border-width);
    }
  }
}

[data-table~='is-bordered'] {
  @extend %table-bordered;
}

%table-borderless {
  > :not(caption) > * > * {
    border-color: transparent;
    border-bottom-width: 0;
  }

  > :not(:first-child) {
    border-top-width: 0;
  }
}

// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

// For rows
%table-striped {
  > tbody > tr:nth-of-type(odd) > * {
    --table-accent-bg: var(--table-striped-bg);
    color: var(--table-striped-color);
  }
}

[data-table~='is-striped'] {
  @extend %table-striped;
}

// For columns
%table-striped-columns {
  > :not(caption) > tr > :nth-child(even) {
    --table-accent-bg: var(--table-striped-bg);
    color: var(--table-striped-color);
  }
}

[data-table~='is-striped\:columns'] {
  @extend %table-striped-columns;
}

// Active table
//
// The `.table-active` class can be added to highlight rows or cells

%table-active {
  --table-accent-bg: var(--table-active-bg);
  color: var(--table-active-color);
}

[data-row~='is-active'],
[data-cell~='is-active'] {
  @extend %table-active;
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

%table-hover {
  > tbody > tr:hover > * {
    --table-accent-bg: var(--table-hover-bg);
    color: var(--table-hover-color);
  }
}

[data-table~='has-hover'] {
  @extend %table-hover;
}
