@use 'sass:math';
@use 'sass:map';

@function em($value, $unit: em) {
  @return #{math.div($value, 16)}#{$unit};
}

@function mq-em($breakpoints, $base-value: 16) {
  $new-breakpoints: ();

  @each $name, $value in $breakpoints {
    $em-value: math.div($value, $base-value) * 1em;
    $new-breakpoints: map.merge(
      $new-breakpoints,
      (
        $name: $em-value
      )
    );
  }

  @return $new-breakpoints;
}
